*{
    margin: 0;
    padding: 0;
}
body {overflow-x: hidden;
}
html{
    font-size: 62.5%;
}
html{
    background-color: beige;
}
header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 3.5rem;
    padding: 50px 400px;
    margin: 20px 10px;
    
}
.navegacion{
    background-color: rgba(230, 230, 198, 0.884);
    border: solid 1px black;
    position: sticky;
    top: 0rem;
    }
.menu  li a {
        text-decoration: none; 
}
.menu li{
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:inline-block;
    padding: 50px 100px 50px 100px;
    
}
article{
    display: block;
    width: 40 px;
    height: 80 px;
}
article p {
    font-size: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    text-align: justify;
    margin: 25 rem;
    padding: 13rem;
}
.imagenInicio{
    float: right;
    padding-left: 8rem;
}
footer{
    background-color: rgba(247, 247, 205, 0.699);
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    text-align: center;
    font-style: oblique;
    padding: 4rem;
}
.vinculo{
    font-size: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.ingresoContacto{
    font-size: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: block;
}